@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

body {
    background-color: #2E3840;
    display: flex;
    justify-content: center;
}

.container {
    padding: 2vw;
}