.container {
  background-color: rgba(0, 0, 0, );
  background-image: linear-gradient(rgba(78, 110, 129, 0.8),
      rgba(78, 110, 129, 0.8)), url(../../Images/Flag.png);
  background-position: center;
  background-size: 10vw;
  background-repeat: repeat;
  width: 20vw;
  height: 30vw;
  border-radius: 2vw;
  padding: 2vw 0vw;
  box-shadow: 0.5vw 0.5vw 0.7vw 0.3vw #F9DBBB;
  position: relative;
  margin-bottom: 3vw;
  font-family: 'Righteous', cursive;

}

.teams {
  color: black;
  position: absolute;
  text-align: center;
  top: 27vw;
  left: 0vw;
  width: 100%;
  font-size: 1.2vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;


}

.dob {
  color: #FF0303;
  position: absolute;
  text-align: center;
  top: 25vw;
  left: 6.5vw;
  font-size: 1.3vw;

}

.forename {
  color: black;
  font-weight: bolder;
  font-size: 2.4vw;
  width: 100%;
  height: 5vw;
  left: -43%;
  top: 25%;
  margin: 0;
  text-align: center;
  font-family: 'Faster One', cursive;

}

.forename:hover {
  color: #F9DBBB;
  ;
  cursor: pointer;
}

.image {
  width: 15vw;
  height: 18vw;
  border-radius: 3vw;
  border: solid 0.2vw #FF0303;
  position: absolute;
  top: 17vw;
  left: 50%;
  transform: translate(-50%, -50%);

}