.container {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pageChange {
    color: #F9DBBB;
}

.pageChange:hover {
    cursor: pointer;
    color: #FF0303;
}