.container {
    width: 100%;
    min-width: 60vw;
    height: 5vw;
    background-color: #4E6E81;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 1;
    border-radius: 1vw;
    font-family: 'Righteous', cursive;
}

.button {
    background-color: #F9DBBB;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 0.1vw #FF0303;

}

.button:hover {
    border: solid 0.1vw #F9DBBB;
}

.navLink {
    color: #2E3840;
    display: flex;

}

.navLink:hover {
    color: #FF0303;

}